:root {
	--pc: #865DFF;
	--sc: #b984ff;
	--bp: #212127;
	--bs: #262930;
}

@keyframes aGetout {from {transform: translate(0,0)} to {transform: translate(10rem,10rem)}
}
@keyframes bGetout {from {transform: translate(0,0)} to {transform: translate(-10rem,10rem)}
}
@keyframes cGetout {from {transform: translate(0,0)} to {transform: translate(-10rem,-10rem)}
}
@keyframes dGetout {from {transform: translate(0,0)} to {transform: translate(10rem,-10rem)}
}
@keyframes aFly {20% {transform: translate(10.75rem,8.5rem)} 40% {transform: translate(11.5rem,10rem)} 60% {transform: translate(10rem,9.25rem)} 80% {transform: translate(11.5rem,9.25rem)} 100% {transform: translate(10rem,10rem)}
}
@keyframes bFly {20% {transform: translate(-10.75rem,8.5rem)} 40% {transform: translate(-11.5rem,10rem)} 60% {transform: translate(-10rem,9.25rem)} 80% {transform: translate(-11.5rem,9.25rem)} 100% {transform: translate(-10rem,10rem)}
}
@keyframes cFly {20% {transform: translate(-10.75rem,-8.5rem)} 40% {transform: translate(-11.5rem,-10rem)} 60% {transform: translate(-10rem,-9.25rem)} 80% {transform: translate(-11.5rem,-9.25rem)} 100% {transform: translate(-10rem,-10rem)}
}
@keyframes dFly {20% {transform: translate(10.75rem,-8.5rem)} 40% {transform: translate(11.5rem,-10rem)} 60% {transform: translate(10rem,-9.25rem)} 80% {transform: translate(11.5rem,-9.25rem)} 100% {transform: translate(10rem,-10rem)}
}
.align-items\:center{
	align-items: center
}
.animation\:aGetout_5s_both_\.5s\,19s_aFly_1\.5s_infinite_ease-in-out{
	animation: aGetout 5s both .5s,19s aFly 1.5s infinite ease-in-out
}
.animation\:bGetout_5s_both_1s\,18\.5s_bFly_2s_infinite_ease-in-out{
	animation: bGetout 5s both 1s,18.5s bFly 2s infinite ease-in-out
}
.animation\:dGetout_5s_both_1\.25s\,15s_dFly_2\.25s_infinite_ease-in-out{
	animation: dGetout 5s both 1.25s,15s dFly 2.25s infinite ease-in-out
}
.animation\:cGetout_5s_both_\.75s\,20s_cFly_1\.75s_infinite_ease-in-out{
	animation: cGetout 5s both .75s,20s cFly 1.75s infinite ease-in-out
}
.backdrop-filter\:blur\(5px\){
	-webkit-backdrop-filter: blur(5px);
	        backdrop-filter: blur(5px)
}
.backdrop-filter\:blur\(50px\){
	-webkit-backdrop-filter: blur(50px);
	        backdrop-filter: blur(50px)
}
.backdrop-filter\:blur\(30px\){
	-webkit-backdrop-filter: blur(30px);
	        backdrop-filter: blur(30px)
}
.background\:radial-gradient\(circle\,_\$bp_15\%\,_transparent_50\%\){
	background: radial-gradient(circle, var(--bp) 15%, transparent 50%)
}
.background\:tansparent{
	background: tansparent
}
.background\:radial-gradient\(circle\,_\$bp_15\%\,_transparent_50\%\,_transparent_\۶0\%\){
	background: radial-gradient(circle, var(--bp) 15%, transparent 50%, transparent ۶0%)
}
.background\:radial-gradient\(circle\,_\$bp_15\%\,_transparent_50\%\,_transparent_60\%\){
	background: radial-gradient(circle, var(--bp) 15%, transparent 50%, transparent 60%)
}
.background\:radial-gradient\(circle\,_\$bp_15\%\,_transparent_50\%\,_transparent_90\%\){
	background: radial-gradient(circle, var(--bp) 15%, transparent 50%, transparent 90%)
}
.background\:radial-gradient\(circle\,_\$bp_15\%\,_transparent_50\%\,_transparent_100\%\){
	background: radial-gradient(circle, var(--bp) 15%, transparent 50%, transparent 100%)
}
.background\:radial-gradient\(circle\,_\$bp_15\%\,_transparent_50\%\,_transparent_51\%\){
	background: radial-gradient(circle, var(--bp) 15%, transparent 50%, transparent 51%)
}
.background\:radial-gradient\(circle\,_\$bp_15\%\,_transparent_30\%\){
	background: radial-gradient(circle, var(--bp) 15%, transparent 30%)
}
.background\:radial-gradient\(circle\,_\$bp_15\%\,_transparent_35\%\){
	background: radial-gradient(circle, var(--bp) 15%, transparent 35%)
}
.hover\:background-color\:transparent:hover{
	background-color: transparent
}
.hover\:background-color\:\#F6F8FC:hover{
	background-color: #F6F8FC
}
.background-color\:\$bp{
	background-color: var(--bp)
}
.background-color\:\$pc{
	background-color: var(--pc)
}
.background-color\:\#F6F8FC{
	background-color: #F6F8FC
}
.background-color\:\#865dff2e{
	background-color: #865dff2e
}
.background-color\:\$bs{
	background-color: var(--bs)
}
.background-color\:\#0e0f10{
	background-color: #0e0f10
}
.border\:2px_solid_\$pc{
	border: 2px solid var(--pc)
}
.border\:2px_solid_\#F6F8FC{
	border: 2px solid #F6F8FC
}
.border\:\#b984ff4f_1px_solid{
	border: #b984ff4f 1px solid
}
.border\:\#865dff57_1px_solid{
	border: #865dff57 1px solid
}
.hover\:border-color\:\$sc:hover{
	border-color: var(--sc)
}
.border-radius\:\.5rem{
	border-radius: .5rem
}
.border-radius\:2rem{
	border-radius: 2rem
}
.border-radius\:1rem{
	border-radius: 1rem
}
.bottom\:1rem{
	bottom: 1rem
}
.box-shadow\:\#865dff24_-5px_-5px_10px_2px{
	box-shadow: #865dff24 -5px -5px 10px 2px
}
.box-shadow\:inset_0px_0px_5px_5px_transparent{
	box-shadow: inset 0px 0px 5px 5px transparent
}
.box-shadow\:inset_0_0_0_5px_transparent{
	box-shadow: inset 0 0 0 5px transparent
}
.hover\:color\:inherit:hover{
	color: inherit
}
.hover\:color\:\$bp:hover{
	color: var(--bp)
}
.color\:\#fafafa{
	color: #fafafa
}
.color\:inherit{
	color: inherit
}
.color\:\$bs{
	color: var(--bs)
}
.color\:\$sc{
	color: var(--sc)
}
.hover\:cursor\:pointer:hover{
	cursor: pointer
}
.display\:flex{
	display: flex
}
.filter\:blur\(25px\){
	filter: blur(25px)
}
.flex-basis\:350px{
	flex-basis: 350px
}
.flex-basis\:675px{
	flex-basis: 675px
}
.flex-direction\:column{
	flex-direction: column
}
.flex-wrap\:wrap{
	flex-wrap: wrap
}
.font-family\:\^Roboto\^\,sans-serif{
	font-family: 'Roboto',sans-serif
}
.font-size\:x-large{
	font-size: x-large
}
.font-size\:xxx-large{
	font-size: xxx-large
}
.font-size\:large{
	font-size: large
}
.height\:100svh{
	height: 100svh
}
.justify-content\:center{
	justify-content: center
}
.justify-content\:space-between{
	justify-content: space-between
}
.justify-content\:space-evenly{
	justify-content: space-evenly
}
.left\:calc\(50\%_-_1rem\){
	left: calc(50% - 1rem)
}
.left\:50px{
	left: 50px
}
.line-height\:2rem{
	line-height: 2rem
}
.line-height\:1\.5rem{
	line-height: 1.5rem
}
.margin\:0{
	margin: 0
}
.margin\:\.5rem_0{
	margin: .5rem 0
}
.margin\:4rem_1rem{
	margin: 4rem 1rem
}
.margin\:1rem{
	margin: 1rem
}
.margin-bottom\:1\.5rem{
	margin-bottom: 1.5rem
}
.margin-bottom\:1rem{
	margin-bottom: 1rem
}
.margin-bottom\:2\.5rem{
	margin-bottom: 2.5rem
}
.margin-left\:\.2rem{
	margin-left: .2rem
}
.margin-right\:\.5rem{
	margin-right: .5rem
}
.max-width\:575px{
	max-width: 575px
}
.max-width\:95\%{
	max-width: 95%
}
.min-width\:350px{
	min-width: 350px
}
.min-width\:450px{
	min-width: 450px
}
.min-width\:650px{
	min-width: 650px
}
.opacity\:\.5{
	opacity: .5
}
.overflow\:hidden{
	overflow: hidden
}
.padding\:\.75rem_1\.5rem{
	padding: .75rem 1.5rem
}
.padding\:5rem_2rem{
	padding: 5rem 2rem
}
.padding\:1\.5rem_5rem{
	padding: 1.5rem 5rem
}
.padding\:\.1rem_\.5rem{
	padding: .1rem .5rem
}
.padding\:1rem_2\.5rem_2rem{
	padding: 1rem 2.5rem 2rem
}
.padding\:1rem_0_0{
	padding: 1rem 0 0
}
.padding\:5rem_0{
	padding: 5rem 0
}
.padding\:1\.5rem{
	padding: 1.5rem
}
.padding\:2rem_0{
	padding: 2rem 0
}
.padding\:1rem_3rem{
	padding: 1rem 3rem
}
.position\:absolute{
	position: absolute
}
.position\:relative{
	position: relative
}
.right\:50px{
	right: 50px
}
.text-align\:justify{
	text-align: justify
}
.text-align\:center{
	text-align: center
}
.text-decoration\:none{
	text-decoration: none
}
.top\:calc\(50\%_-_1rem\){
	top: calc(50% - 1rem)
}
.active\:transform\:translateY\(5\%\):active{
	transform: translateY(5%)
}
.transform\:translateX\(5\%\){
	transform: translateX(5%)
}
.transition\:all_200ms{
	transition: all 200ms
}
.width\:35\%{
	width: 35%
}
.width\:100\%{
	width: 100%
}
.width\:50vw{
	width: 50vw
}
.width\:70vw{
	width: 70vw
}
.width\:600px{
	width: 600px
}
.width\:6000px{
	width: 6000px
}
.width\:1200px{
	width: 1200px
}
.width\:1500px{
	width: 1500px
}
.z-index\:-1{
	z-index: -1
}

@media (min-width: 640px) {
.sm\:flex-direction\:row{
	flex-direction: row
}
.sm\:margin\:0{
	margin: 0
}
.sm\:margin-left\:1rem{
	margin-left: 1rem
}
}

@media (min-width: 1024px) {
.lg\:left\:100px{
	left: 100px
}
.lg\:right\:100px{
	right: 100px
}
}

@media (min-width: 1500px) {
.minw1500px\:left\:200px{
	left: 200px
}
.minw1500px\:right\:200px{
	right: 200px
}
}

@media (max-width: 1020px) {
.maxw1020px\:flex-wrap\:wrap{
	flex-wrap: wrap
}
.maxw1020px\:margin-bottom\:2\.5rem{
	margin-bottom: 2.5rem
}
.maxw1020px\:min-width\:85\%{
	min-width: 85%
}
.maxw1020px\:min-width\:95vw{
	min-width: 95vw
}
.maxw1020px\:padding\:0_1rem{
	padding: 0 1rem
}
}

@media (max-width: 568px) {
.maxw568px\:display\:none{
	display: none
}
}
